extends layout

block content
  div.content
    h2 media controls
    table.media-table
      tr
        td
          a.play-item(href="#" data-item="0") page_1
        td
          a.play-item(href="#" data-item="2") page_2
        td
          a.play-item(href="#" data-item="4") page 3

block scripts
  script(src='/socket.io/socket.io.js')
  script(src='/js/mediaplayer.js')
