extends layout

block content
  div.content
    h2 media controls
    table.media-table
      tr
        td
          a.play-item(href="#" data-item="0") page_1
        td
          a.play-item(href="#" data-item="2") page_2
        td
          a.play-item(href="#" data-item="4") page 3
        td
          a.play-item(href="#" data-item="6") page 4
        td
          a.play-item(href="#" data-item="8") page 5
      tr
        td
          a.play-item(href="#" data-item="popup0") popup_1
        td
          a.play-item(href="#" data-item="popup1") popup_2
        td
          a.play-item(href="#" data-item="popup2") popup_3
        td
          a.play-item(href="#" data-item="popup3") popup_4
        td
          a.play-item(href="#" data-item="popup4") popup_5
          tr
        td
          a.play-item(href="#" data-item="changelang") changelang


block scripts
  script(src='/socket.io/socket.io.js')
  script(src='/js/mediaplayer.js')
