*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html{height: 100%;font-family: 'Kakao', sans-serif;font-size: 15px;font-weight: 400;word-break: keep-all;}
body{margin: 0px;color: #000;background: #f5f5f5;}

a {background-color: transparent;text-decoration: none;color: inherit;display: block;opacity: 1;transition: all 0.2s ease-in-out;}
a:active,
a:hover{outline: 0;text-decoration: none;color: inherit;opacity: 0.8;}

/** helpers **/
.show{display: block;}
.hidden{display: none !important;}
.pull-left{float: left;}
.pull-right{float: right;}
.text-left{text-align: left;}
.text-right{text-align: right;}
.text-center{text-align: center;}
.block{display: block;}
.inline-block{display: inline-block;}
.clearfix:before,
.clearfix:after {content: "";display: table;}
.clearfix:after {clear: both;}
.clearfix {zoom: 1; /* ie 6/7 */}
/* helpers end  */

/** common **/
h2{margin: 0 0 20px;font-family: 'Kakao', sans-serif;font-size: 32px;font-weight: 300;text-transform: uppercase;}
.content{
  position: relative;
  width: 100%;
  padding: 20px;
}

.toggle-page-button{
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #e6a441;
}

.training-button{padding: 4px 10px;text-decoration: none;font-family: 'Kakao', sans-serif;font-size: 12px;font-weight: 400;color: #ededed;text-transform: uppercase;letter-spacing: 2px;border: none;background-color: #5e8eca;border-radius: 40px;}
.record-button{padding: 4px 10px;text-decoration: none;font-family: 'Kakao', sans-serif;font-size: 12px;font-weight: 400;color: #ededed;text-transform: uppercase;letter-spacing: 2px;border: none;background-color: #ca5e5e;border-radius: 40px;}

.webcam-box-inner{
  position: relative;
  display: inline-flex;
  justify-content: center;
  width: 224px;
  height: 224px;
  overflow: hidden;
  margin-right: 10px;
}
.webcam-box-inner:after{
  content: 'webcam preview';
  position: absolute;
  width: 100%;
  bottom: 20px;
  left: 0px;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}
.webcam-target{
  position: relative;
  display: inline-block;
}
.webcam-target:after{
  content: 'target focus';
  position: absolute;
  width: 100%;
  bottom: 20px;
  left: 0px;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}

#cropped_webcam{display: block;background: #2d2d2d;}

.training-panel{
  margin: 20px 0 20px;
}
.training-panel .hyper-params{margin-top: 10px;}
.training-panel .dropdown{display: inline-block;margin-right: 10px;}
.training-panel .dropdown label{display: block;margin-bottom: 5px;}
.training-panel .dropdown select{padding: 4px;border: 1px solid #ccc;border-radius: 4px;}

.samples-panel{
  width: 100%;
  overflow: auto;
}
.samples-panel .panel-cell{
  float: left;
  width: 100px;
  text-align: center;
  margin-right: 10px;
}
.samples-panel .thumb-box .thumb{
  width: 100%;
 
  border-radius: 4px;
  background: #2d2d2d;
}

.predict-controls{
  display: none;
  margin-top: 20px;
}
.predict-controls .prediction{display: none;margin-top: 20px;}
.predict-controls #result{font-size: 30px;}

.overlay{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.9);
  transition: opacity 500ms;
  opacity: 0;
  visibility: hidden;
  z-index: 100;
}
.overlay.show{visibility: visible;opacity: 1}
.popup{
  position: relative;
  width: 50%;
  margin: 150px auto;
  font-size: 24px;
  font-weight: 300;
  color: #fdfdfd;
  text-align: center;
  background: transparent;
}
